<div class="text">
    <h3 class="shoe-barva-10">Air Jordan 1</h3>
    <p>{{ page.header.description1 }}</p>
    <h3 class="shoe-barva-10">Mocha Low</h3>
    <p>{{ page.header.description2 }}</p>
</div>