<div class="product-name">
    <div class="name">
        <h1>{{ page.header.title }}</h1>
        <h2>{{ page.header.subtitle }}</h2>
    </div>
    <div class="button">
        <a href="https://discord.gg/XfzsV3gW7w" target="_blank" class="btn41-43 btn-42">
            Discord
        </a>
    </div>
</div>