:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --base-background-color: #1D1D1D;
    --base-highlight: #824DF4;
    --background-highlight: #2A2A2A;
    scroll-behavior: smooth;
}

    html{
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
    body{
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      color: var(--text);
      background-color: var(--bg);
      margin: 0;
      padding: 0;
      -webkit-user-select: none; 
      -ms-user-select: none;
      user-select: none; 
    }

    
    .italics{
      font-style: oblique;
    }

/*-----------------FONTS AND IMPORTS ----------------- */ 

@font-face {
  font-family: 'Segoe UI Bold Italic';
  src: url("../fonts/Segoe\ UI\ Bold\ Italic.ttf");
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: url("../fonts/Segoe\ UI\ Bold.ttf");
}
@font-face {
  font-family: 'Segoe UI Italic';
  src: url("../fonts/Segoe\ UI\ Italic.ttf");
}
@font-face {
  font-family: 'Segoe UI Regular';
  src: url("../fonts/Segoe\ UI.ttf");
}
@font-face {
  font-family: 'Segoe UI Semilight';
  src: url("../fonts/Segoe\ UI\ Semilight.ttf");
}


/*-------------------- NAVBAR -------------------------*/

.navbar{
  display: flex;
  height: 94px;
  justify-content: space-between;
  background-color: var(--base-background-color);
  color: var(--color-light);
  flex-direction: row;
  padding: 0 10%;
  align-items: center;
  font-family: "Segoe UI Semilight"; 
  font-size: 1.2em;
}

.nav__links{
  display: flex;
  flex-direction: row;
  gap: 94px;
}
.nav__links li{
  list-style: none;
}
.navlink{
  color: var(--color-light);
  text-decoration: none;
}

.navlink:hover{
  cursor:help;
}

.nav__links li:last-of-type .navlink{
  background-color: var(--color-light);
  color: var(--base-background-color);
  padding: 10px 30px;
  border-radius: 50px;
}
.active{
  /* if needed add styles for the current active link, the code is ready for it*/
}

      /* Mobile Nav */
    .page-navbar__hamburger {
      padding: 0;
      border: none;
      background-color: white;
      display: none;
      margin-right: 20px;
      cursor: pointer;
      font-family: Icons;
      font-size: 2.7em;
      color: var(--primary);
      background-image: linear-gradient(45deg, #EB6C27, #FFBE9A);
      background-size: 100%;
      background-repeat: repeat;
    }
      .menu {
        display: none;
        background-color: var(--textcolor);
        color: var(--backgroundcolor);
        margin-left: 1rem;
        padding: 9px 25px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
      }
      
      .menu:hover{
        color: var(--backgroundcolor);
      }
    
      .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: var(--darkerbackgroundcolor);
        overflow-x: hidden;
        transition: width 0.5s ease 0s;
      }
      .overlay ul{
        list-style-type: none;
      }
      .overlay--active {
        width: 100%;
      }
      
      .overlay__content, .overlay__content ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .overlay li a {
        padding: 15px;
        font-size: 36px;
        display: block;
        transition: color 0.3s ease 0s;
      }
      
      .overlay li a:hover,
      .overlay li a:focus {
        cursor: pointer;
      }
      .overlay .close {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: var(--texthighlight);
        transition: all ease-in-out 0.3s;
      }

      .overlay .close:hover{
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
        color: #ffffffce;
        animation: shake 250ms 2 ease-in;
        -moz-animation: shake 150ms 2 linear;
        -webkit-animation: shake 150ms 2 linear;
        -o-animation: shake 150ms 2 linear;

      }
    .overlay ul{
      padding: 0;
    }
      .overlay .active:hover{
        border-radius: 0;
      }
      .overlay .navlink{
        transition: all ease-in-out 0.3s;
      }
      .overlay .navlink:hover{
        background-color: transparent;
        font-size: 3em;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
      }

      /* overlay */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* ==== 1290 px ==== */ 
@media only screen and (max-width: 1080px) {
  .nav__links
   {
    display: none;
  }
  .menu {
    display: inline-block;
    margin-right: 10px;
  }
  .active{
    background-color: transparent;
    color: var(--texthighlight);
    font-weight: 700;
    font-size: 40px;
    border-radius: 15px;
    text-decoration: underline;
  }
}
/*============================ FOOTER ==========================*/

/*----------------------- SECTIONS & ALIGNMENT ------------------ */ 

.pagecontent{
  background-color: var(--color-light);
}

/*------------------------- PAGE ELEMENTS ---------------------- */ 

/* Main page banner */
.banner-grid{
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
  flex-direction: column;
}
.banner__wrapper{
  width: 100vw;
  height: 100vh;
}

.banner__main-text{
  color: var(--color-light);
  max-width: 52vw;
  font-size: 6vw;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  margin-bottom: 0;
}
.banner__main-text b{
  color: var(--color-light);
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  background-color: var(--base-highlight);
}

.banner__secondary-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-style: italic;
  color: var(--color-light);
  margin-top: 0.2em;
  font-size: 1vw;
}

.banner__button{
  background-color: var(--color-light);
  padding: 1em 2.3em;
  border-radius: 50px;
  width: fit-content;
  color: var(--base-background-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: ;
}