:root {
    --textcolor: #000000;
    --texthighlight: #171717;
    --backgroundcolor: #ffffff;
    --darkerbackgroundcolor: #bdbdbd;
    --neonpink: #F72585;
    --darkpink: #B5179E;
    --teal: #7209B7;
    --bluebasic: #560BAD;
    --bluedarker: #480CA8;
    --bluedark: #3A0CA3;
    --blueocean: #3F37C9;
    --blueday: #4361EE;
    --bluelight: #4895EF;
    --bluehighlight: #4CC9F0;
    --bluetransparent: rgba(106, 87, 161, 0.685);
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
}



@font-face {
    font-family: HeaderNormal;
    src: url(../fonts/LibreBaskerville-Regular.ttf);
    }
    @font-face {
    font-family: HeaderBarcode;
    src: url(../fonts/LibreBarcode128Text-Regular.ttf);
    }
    :root{
      --primary: #EB6C27;
      --text: #3a3a3a;
      --bg: #fff;
      --text--gray: #888888;
      scroll-behavior: smooth;
    }
    /* --- MAIN PAGE PROPERTIES --- */
    html{
      overflow-x: hidden;
    }
    body{
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      color: var(--text);
      background-color: var(--bg);
      margin: 0;
      padding: 0;
      -webkit-user-select: none; 
      -ms-user-select: none;
      user-select: none; 
    }

    a{
      color: var(--texthighlight);
      text-decoration: none;
      
    }
    
    .italics{
      font-style: oblique;
    }

    .main--header{
      height: 95vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .header--alt{
      height: 20vh;
    }

.banner-header{
  font-size: 8vw;
  color: var(--backgroundcolor);
  margin: 0;
  text-align: center;
  line-height: 8vw;
  margin-top: calc(10*1vh);
  transition: 0.2s all ease-in-out;
  text-transform:uppercase;
  text-shadow: 0px 0px 20px rgba(0,0,0,0.6);
}
.banner-header p{
  margin: 0;
  font-weight: 300;
  text-transform: none;
  line-height: 10vw;
}

/*--------------------SIPKA ZPET-------------------------*/
.zpet{
  margin-left: 5%;
  margin-top: 3%;
  height: 26px;
}
.zpet a {
  display: flex;
  text-decoration: none;
  color: rgb(66, 66, 66);
  transition: 0.3s ease;
  width: 210px;
}
.zpet a:hover{
  font-size: 18px;
  transition: 0.3s ease;
}
.sipka{
  content: url("data:image/svg+xml,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 34.075 34.075' style='enable-background:new 0 0 34.075 34.075%3b' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath style='fill:%23010002%3b' d='M24.57%2c34.075c-0.505%2c0-1.011-0.191-1.396-0.577L8.11%2c18.432c-0.771-0.771-0.771-2.019%2c0-2.79 L23.174%2c0.578c0.771-0.771%2c2.02-0.771%2c2.791%2c0s0.771%2c2.02%2c0%2c2.79l-13.67%2c13.669l13.67%2c13.669c0.771%2c0.771%2c0.771%2c2.021%2c0%2c2.792 C25.58%2c33.883%2c25.075%2c34.075%2c24.57%2c34.075z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
  width: 20px;
  height: 20px;
  margin-right: 0.4%;
}


    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--bg);
      height: 92px;
      width: 80%;
      margin: 50px 205px;
      transition: 0.2s all;
      margin-bottom: 0;
    }
    .nav__links{
      display: flex;
      align-items: center;
      list-style: none;
    }
    .navlogo{
      width: 200px;
      height: 100%;
      margin-left: 10%;
    }
    .navlink{
      padding: 35px 30px;
      transition: all 0.1s ease-in-out;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--textcolor);
    }
    .active{
      background-color: var(--primary);
      color: var(--bg);
      font-weight: 600;
    }
    .navlink:hover{
      background-color: var(--primary);
      color: var(--bg);
    }
    .page-navbar__hamburger {
      padding: 0;
      border: none;
      background-color: white;
      display: none;
      margin-right: 20px;
      cursor: pointer;
      font-family: Icons;
      font-size: 2.7em;
      color: var(--primary);
      background-image: linear-gradient(45deg, #EB6C27, #FFBE9A);
      background-size: 100%;
      background-repeat: repeat;
    }
      /* Mobile Nav */
      .menu {
        display: none;
        background-color: var(--textcolor);
        color: var(--backgroundcolor);
        margin-left: 1rem;
        padding: 9px 25px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
      }
      
      .menu:hover{
        color: var(--backgroundcolor);
      }
    
      .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: var(--darkerbackgroundcolor);
        overflow-x: hidden;
        transition: width 0.5s ease 0s;
      }
      .overlay ul{
        list-style-type: none;
      }
      .overlay--active {
        width: 100%;
      }
      
      .overlay__content, .overlay__content ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .overlay li a {
        padding: 15px;
        font-size: 36px;
        display: block;
        transition: color 0.3s ease 0s;
      }
      
      .overlay li a:hover,
      .overlay li a:focus {
        cursor: pointer;
      }
      .overlay .close {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: var(--texthighlight);
        transition: all ease-in-out 0.3s;
      }

      .overlay .close:hover{
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
        color: #ffffffce;
        animation: shake 250ms 2 ease-in;
        -moz-animation: shake 150ms 2 linear;
        -webkit-animation: shake 150ms 2 linear;
        -o-animation: shake 150ms 2 linear;

      }
    .overlay ul{
      padding: 0;
    }
      .overlay .active:hover{
        border-radius: 0;
      }
      .overlay .navlink{
        transition: all ease-in-out 0.3s;
      }
      .overlay .navlink:hover{
        background-color: transparent;
        font-size: 3em;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
      }
      
      @keyframes shake {
        0% {
          transform: translate(3px, -2px);
        }
        25% {
          transform: translate(-3px, 2px);
        }
        25% {
          transform: translate(1px, -1px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
  
      @-moz-keyframes shake {
        0% {
          -moz-transform: translate(3px, 0);
        }
        50% {
          -moz-transform: translate(-3px, 0);
        }
        100% {
          -moz-transform: translate(0, 0);
        }
      }
  
      @-webkit-keyframes shake {
        0% {
          -webkit-transform: translate(3px, 0);
        }
        50% {
          -webkit-transform: translate(-3px, 0);
        }
        100% {
          -webkit-transform: translate(0, 0);
        }
      }
  
      @-ms-keyframes shake {
        0% {
          -ms-transform: translate(3px, 0);
        }
        50% {
          -ms-transform: translate(-3px, 0);
        }
        100% {
          -ms-transform: translate(0, 0);
        }
      }
  
      @-o-keyframes shake {
        0% {
          -o-transform: translate(3px, 0);
        }
        50% {
          -o-transform: translate(-3px, 0);
        }
        100% {
          -o-transform: translate(0, 0);
        }
      }



        .pagecontent {
          background-color: var(--backgroundcolor);
          padding: 0 15%
          
        }
        
        .grid-container {
          margin-bottom: 100px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
          margin-bottom: 150px;
        }
        
        .reduced-margin{
          margin-bottom: 40px;
        }

        .grid-item {
          padding: 20px;
        }
        
        .grid-item img {
          transition: 0.5s all;
          width: 75%;
          min-width: 420px;
          float: right;
        }
        .section-header{
          font-size: 1.6em;
          line-height: 1.6em;
        }
        .list-section{
          margin: -20px 0 0 0 ;
        }
        .span2{
          grid-column: 1/-1;
          display: flex;
          justify-content: center;
        align-items: center;      
        }

        .row1{
          grid-row: 1;
        }
        .row2{
          grid-row: 2;
        }
        .page__heading {
          font-size: 500%;
          margin: 0;
          line-height: 1;
          color: var(--textcolor);
          transition: 0.2s all;
        }
        
        .grid-item p {
          transition: 0.5s all;
          margin: 0;
          font-size: 35px;
          max-width: 450px;
          line-height: 1;
          line-height: 42px;
        }

        .fluid-text{
          font-size: 24px !important;
          max-width: none !important;
          line-height: 32px !important;
        }
        .span-p{
          max-width: 90% !important;
          text-align: center;

        }
        .fl-l{
          float: left !important;
        }

        .h-line_height{
          line-height: 120%;
        }
      .flex-collumn{
        display: flex;
        flex-direction: column;
      }
      .max-fit{
        width: 100% !important;
        height: 85%;
        object-fit:cover;
      }

/*============================MAPA==========================*/


.map{
  width:60vw;
  height: 30vw;
}
     
      
.grid__contact{
  max-width: 1280px;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.grid__contact__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.map{
  width:600px; 
  height:400px;
}
.grid__contact__info span{
  display: flex;
  align-items: center;
  padding: 0;
}
span > p{
  margin: 0;
}


.grid__contact__info span p,.grid__contact__info span a{
  font-size: 100%;
  color: var(--texthighlight);
  text-decoration: none;
}

.grid__contact__info span::before {
  display: block;
  margin-right: 20px;
  content: "";
  background-image: url("../images/mail_24px.svg");
  background-color: var(--primary);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  min-width: 40px;
}

.grid__contact__info span:first-of-type:before {
  
  background-image: url("../images/local_phone_24px.svg");
}
.grid__contact__info span:last-of-type::before {
  background-image: url("../images/room_24px.svg");
}
form{
  display: flex;
  flex-direction: column;
}
form p {
  font-weight: 400;
  font-size: 0.875em;
  margin-bottom: 2em;
  margin-top: 0;
}
.form__group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 85%;
}
form label{
  font-weight: 700;
  font-size: 0.85em;
  margin-bottom: 0.5em;
}
form input{
  padding: 10px;
  border: 1px solid var(--primary);
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.5em;
  min-width: 30vw;
}
form textarea{
  padding: 10px;
  border: 1px solid var(--primary);
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.5em;
  font-family: 'Open Sans';
  min-height: 130px;
  min-width: 30vw;
}
form textarea:focus{
  outline-color: var(--primary);
  border-radius: 0;
}
form input:focus{
  outline-color: var(--primary);
}
form select{
  padding: 10px;
  border: 1px solid var(--primary);
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.5em;
  font-family: 'Open Sans';
}
form select:focus{
  outline-color: var(--primary);
}
.form__group a{
  width: 200px;
  font-size: 0.8em;
}
.form__group a:hover{
  font-size: 0.8em;
}
.buttons .button{
  padding: 20px 40px;
  border: 1px solid transparent;
  font-size: 1.2em;
  font-weight: 400;
}

.buttons button {
  --b: 2px;   /* border thickness */
  --s: .25em; /* size of the corner */
  --c: #BD5532;
  
  padding: calc(.05em + var(--s)) calc(.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s ease-out, all 0.3s, background-color 0.15s;
  outline: var(--b) solid #0000;
  outline-offset: .2em;
}
.buttons button:hover,
.buttons button:focus-visible{
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
}
.buttons button:active {
  background: var(--c);
  color: #fff;
}

.buttons button {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  margin: .1em;
}

/*============================ERROR==========================*/
.error-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 25vh;
  background-color: var(--backgroundcolor);
  align-items: center;
}

.error-container .btn41-43{
  padding: 1vw 7vw;
}
/*============================BUTTON==========================*/
.button{
  margin-top: 3vw;
  display: flex;
  justify-content: center;
}
.btn41-43 {
  padding: 15px 50px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: var(--textcolor);
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.75s ease;
  position: relative;
  display: inline-block;
  box-shadow:0 0 5px #888888;
}

.btn-42 {
  border: 2px solid rgb(0, 0, 0);
  z-index: 1;
  color: var(--backgroundcolor);
}

.btn-42:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.38s ease;
}

.btn-42:hover {
  color: rgb(0, 0, 0);
}

.btn-42:hover:after {
  top: 0;
  height: 100%;
}

.btn-42:active {
  top: 2px;
}

/*============================ SCROLL WHEEL ==========================*/
.grid-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.anim-element{
  margin: 100px;
}
.anim-scroll {
  border: 2px solid rgba(255, 255, 255, 0.700);
  border-radius: 22px;
  height: 40px;
  position: relative;
  width: 20px;
  }
  
  .anim-scroll--wheel {
  animation: scroll 2.5s ease infinite;
  background: rgba(255, 255, 255, 0.700);
  border-radius: 30px;
  height: 8px;
  left: calc(50% - 1.5px);
  position: absolute;
  right: 50%;
  top: 8px;
  width: 3px;
  }
  
  @keyframes scroll {
  0% { transform: translateY(0); }
  50% { transform: translateY(16px); }
  51% { opacity: 1; }
  100% { opacity: 0; transform: translateY(0); }
  }

/*============================ FOTOGALERIE ==========================*/


/*============================ REFERENCE ==========================*/

button{
  color: var(--textcolor);
  text-decoration: none;
}

.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.m-4 {
  margin: 1.5rem !important;
}

h6, .h6, h5, .h5 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}



h5, .h5 {
  font-size: 1.25rem;
}


/* btn */

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--texthighlight);
}

.mb-0{
  display: flex;
  align-items: center;
}

/* shadow */
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}

/* show */

.collapse:not(.show){display:none}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

/* ACCORDITION */
.accordion{
  padding-bottom: 10vh;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion-body {
  padding: 1rem 1.25rem;
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}
.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.accordion-flush .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}

/* CARD */


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 1rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-group > .card {
  margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
.card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
.card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
.card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
.card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.box-glow{
  box-shadow: 0 0 50px 15px rgba(0,0,0,0.30);
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0%, 100% {
      box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.15);
      
  }
  50% {
      box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.35);
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/*============================ WORD ==========================*/

:root {
  --bar-scale-y: 0;
  --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

@keyframes shimmer {
  to {
    text-shadow: 0 0 8px red;
  }
}


.word {
  display: block;

  animation: show 0.01s forwards, pop-word 0.9s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;

  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word-delay {
  animation-delay: 1s;
}
.word-delay-4{
  animation-delay: 4s;
}

.superscript {
  position: relative;
  animation-delay: 3.6s;

  animation-duration: 0.25s;
  animation-name: shimmer;

  vertical-align: text-top;
}

/* bars */
.superscript::before {
  --bar-width: 25%;

  position: absolute;

  top: 37%;
  left: 47%;
  width: 14%;
  height: 48%;

  animation: bar-scale 0.25s linear 3s 1 forwards;

  background: linear-gradient(
    to right,
    white var(--bar-width),
    transparent var(--bar-width) calc(100% - var(--bar-width)),
    white calc(100% - var(--bar-width))
  );

  content: "";

  transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
  --size: 10rem;

  position: absolute;

  top: -5%;
  left: -85%;

  width: var(--size);
  height: var(--size);

  animation: sparkle 0.4s linear 3.5s 1 forwards;

  background: radial-gradient(
      circle at center,
      rgb(252 249 241 / 94%) 0% 7%,
      transparent 7% 100%
    ),
    conic-gradient(
      transparent 0deg 18deg,
      var(--sparkle-color) 18deg,
      transparent 20deg 40deg,
      var(--sparkle-color) 40deg,
      transparent 43deg 87deg,
      var(--sparkle-color) 87deg,
      transparent 95deg 175deg,
      var(--sparkle-color) 175deg,
      transparent 178deg 220deg,
      var(--sparkle-color) 220deg,
      transparent 222deg 270deg,
      var(--sparkle-color) 270deg,
      transparent 275deg 300deg,
      var(--sparkle-color) 300deg,
      transparent 303deg 360deg
    );

  border-radius: 50%;
  clip-path: polygon(
    50% 0,
    59.13% 26.64%,
    85.13% -2.35%,
    100% 50%,
    50% 100%,
    0 50%,
    31.39% 34.86%
  );

  content: "";

  filter: blur(1px);

  transform: scale(0);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  /* sparkle */
  .superscript::after {
    --size: 6rem;
  }
}


/*============================ FOOTER ==========================*/
.netfirmy{
  text-align: center;
}
.netfirmy::before{
  content: " ";
  width: 42px;
  height: 24px;
  display: inline-block;
  margin-top: 20px;
  background-image: url(https://www.netfirmy.cz/template/dist/assets/img/logo-hands-white.svg);
  background-size: contain;
}

.site-footer {
  background-color: var(--texthighlight);
  margin-top: 7em;
  padding: 1em 2em;
}

.ftop_list {
  transition: 0.5s all;
  list-style-type: none;
  color: white;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  
}

.ftop_list li {
  transition: 0.5s all;
  display: flex;
  flex-direction: column;
}

.ftop_list a {
  transition: 0.5s all;
  text-decoration: underline;
  color: white;
}
.ftop_list p {
  transition: 0.5s all;
  margin: 0;
}

p.ftop_list__heading {
  font-weight: 700;
  margin-top: 17px;
  margin-bottom: 10px;
}

.ftop__logo img {
  height: 90px;
}

.footer_bottom {
  display: flex;
  color: white;
  justify-content: space-evenly;
}






/* overlay */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* ==== 1480 px ==== */ 
@media screen and (max-width: 1480px) {
  .page__heading {
    font-size: 80px;
  }
  .grid-item p {
    font-size: 28px;
  }
}
/* ==== 1290 px ==== */ 
@media only screen and (max-width: 1290px) {
  .nav__links
   {
    display: none;
  }
  .login-link {
    display: none;
  }
  .menu {
    display: inline-block;
    margin-right: 10px;
  }
  .header{
      justify-content: space-between;
      padding: 10px;
  }
  .active{
    background-color: transparent;
    color: var(--texthighlight);
    font-weight: 700;
    font-size: 40px;
    border-radius: 15px;
    text-decoration: underline;
  }
}
/* ==== 1200 px ==== */ 
@media screen and (max-width: 1200px) {
  .pagecontent {
    padding: 0 5%;
    padding-bottom: 10vh;
  }
}
/* ==== 950 px ==== */ 
@media screen and (max-width: 950px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-item img{
    float: left;
    width: 85vw;
  }

.grid__contact__info{
  width: 80vw;
}

  .grid-item:nth-child(1) {
    order: 1;
  }
  .ftop_list{
    gap: 1em;
  }
  .span-p{
    font-size: 7vw;
  }
  .grid-item p{
    max-width: 85vw;
  }
  .banner-header{
    font-size: 10vw;
  }
  .map{
    width: 90vw;
    max-width: 90vw;
    height: 60vw;
    overflow: hidden;
  }
}
/* ==== 500 px ==== */ 
@media screen and (max-width: 500px) {
  nav{
    width: 95%;
  }
  .grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page__heading {
    font-size: 8vw;
    max-width: 80vw;
    min-width: 80vw;
    width: 80vw;
    text-align: center;
  }
  .grid-item img{
    float: left;
    min-width: 80vw;
    max-width: 10vw;
  }
  .grid-item p {
    font-size: 18px;
    max-width: 80vw;
    min-width: 80vw;
    width: 80vw;
  }        
  .ftop_list li {
    text-align: center;
  }
  .banner-header{
    font-size: 12vw;
  }
  .btn41-43{
    font-size: 16px;
    margin-top: 10vw;
  }
}
